*
!/**/
!*.*
!**/test.*
**/todo.*
!license
**/.vs/**
**/.vscode/*.*
**/c_cpp_properties.json
!**/launch.json
!**/settings.json
!*.md
*.db
*.exe
*.sln
*.suo
*.user
*.vbproj
*.vcxproj*
*.dbmdl
*.tmp
*.log
*.bin
*.obj
*.pch
*.cmake
**/todo/**
**/test/**
**/build/**
**/CmakeFiles/**
**/CMakeCache.*
**/StrTools/**
**/StringTools/**
**/x64/**
!menus/**
bin/**
!bin/src**
!bin/tests**
log/**
