*
!/**/
!*.*
!**/test.*
**/todo.*
!license
docs/**
!docs/Doxyfile
**/.vs/**
**/.vscode/*.*
!*.md
*.db
*.exe
*.sln
*.suo
*.user
*.vbproj
*.vcxproj*
*.dbmdl
*.tmp
*.log
*.bin
*.obj
*.pch
*.cmake
**/todo/**
**/test/**
**/build/**
**/CmakeFiles/**
**/CMakeCache.*
**/StrTools/**
**/StringTools/**
**/x64/**
!menus/**
bin/**
!bin/src**
!bin/tests**
log/**
